:root {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}
/* 
footer {
  padding: 20px 0;
} */

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: bold;
  display: inline-block;
  align-items: center; 
} 

p {
  font-size: 1rem;
  color: #6c757d;
}

img {
  width: 150px;
  height: auto;
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand .book {
  font-weight: bold;
  font-size: 30px;
}

.navbar-brand .hive {
  font-weight: bold;
  color: rgb(249, 174, 43);
  font-size: 30px;
}

.btn-primary {
  background-color: rgb(249, 174, 43);
  border-color: rgb(249, 174, 43);
  color: black;
}
.btn-primary:hover {
  background-color: rgb(249, 174, 43); 
  color: black;
  border-color: #333333;
}

.btn-secondary {
  background-color: white;
  color: black;
}
.btn-secondary:hover {
  background-color: #ffffff;
  color: rgb(249, 174, 43);
  border: 1px solid rgb(249, 174, 43);
}

.form-label {
  font-weight: bold;
  text-align: left;
  display: block;
}